[MASTER]
load-plugins=pylint_flask,pylint_flask_sqlalchemy

[MESSAGES CONTROL]
disable=assigning-non-slot,
        invalid-name,
        fixme,
        inconsistent-return-statements,
        no-else-return,
        no-self-use,
        cyclic-import

[TYPECHECK]
ignored-classes=scoped_session
