[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-jwt-extended = "*"
waitress = "*"

[dev-packages]
pylint = "*"
pytest = "*"
pylint-flask = "*"
pylint-flask-sqlalchemy = "*"
black = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
