{% extends 'layout.html' %}

{% block header %}
  <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input name="username" id="username" required class="form-control">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" name="password" id="password" required class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Log In</button>
    <button type="button" class="btn btn-secondary" onclick="history.back()">Cancel</button>
  </form>
{% endblock %}
