
{% extends 'layout.html' %}

{% block header %}
  <h1>{% block title %}Delete Contact {{ contact.id }}{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <div class="mb-3">
      <p><strong>{{ contact.first_name }} {{ contact.last_name }}</strong> {{ contact.email }} {{ contact.phone }}</strong></p>
      <p>Delete this contact?</p>
    </div>

    <div class="mb-3">
      <button type="submit" class="btn btn-danger">Delete</button>
      <button type="button" class="btn btn-secondary" onclick="history.back()">Cancel</button>
    </div>
  </form>
{% endblock %}
